.datePickerTitle {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #F9F9FB;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.datePickerTitle a {
    cursor: pointer;
}

.datePickerTitle a:hover {
    color: #6c9b45;
}

.dates {
    height: 75px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9FB;
}

.datePickerContainer {
    font-size: 14px;
}

.datePickerContent {

}

