.headerItem a {
    color: #D8FFBC;
    align-self: center;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.headerItem a:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.headerItem a.active {
    color: #FFFFFF;
}